// Borders
// -------------------------------------------------------------------
.border--full {
    border-color: $border-color;
    border-style: $border-style;
    border-width: $border-width;
}

.border--top {
    border-top-color: $border-color;
    border-top-style: $border-style;
    border-top-width: $border-width;
}

.border--right {
    border-right-color: $border-color;
    border-right-style: $border-style;
    border-right-width: $border-width;
}

.border--bottom {
    border-bottom-color: $border-color;
    border-bottom-style: $border-style;
    border-bottom-width: $border-width;
}

.border--left {
    border-left-color: $border-color;
    border-left-style: $border-style;
    border-left-width: $border-width;
}

.border--none { border: 0 }


// Radius
// -------------------------------------------------------------------
.rounded { border-radius: $border-radius; }

.rounded--top    { border-radius: $border-radius $border-radius 0 0 }
.rounded--right  { border-radius: 0 $border-radius $border-radius 0 }
.rounded--bottom { border-radius: 0 0 $border-radius $border-radius }
.rounded--left   { border-radius: $border-radius 0 0 $border-radius }

.circle { border-radius: 50% }
