// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.logo { max-height: 300px; }

.download { max-height: 45px; }

.mentioned { max-height: 45px; }

.illustration--small { max-height: 80px; }

.icon { height: 30px; }

.cta-image { max-height: 100px; }
