// Base styles
// -------------------------------------------------------------------
// Default styling, appliable to sections or specific elements
.default-links a,
.default-links a:link,
.default-links a:visited,
.link,
.link:link,
.link:visited {
    color: $link-color;
    text-decoration: none;
    transition: color $fade;
}

.default-links a:hover,
.default-links a:focus,
.link:hover,
.link:focus {
    color: $link-hover-color;
}

.default-links a:active,
.link:active {
    background-image: none;
    color: $active-link-color;
    outline: 0;
    transition: color $fade;
}

.link--text {
    border-bottom: 1px solid $primary-color;
}
